.filter-ai-edit-media-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.filter-ai-edit-media-header button {
  position: static !important;
}

.filter-ai-button button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  text-align: center;
  border: 0;
  transition:
    color 0.1s ease-in-out,
    background 0.1s ease-in-out;

  & img {
    width: 8px;
    height: auto;
  }
}

.filter-ai-edit-media-header .filter-ai-button button {
  width: 50px;
  height: 50px;
  border-left: 1px solid #dcdcde;

  &:hover,
  &:focus {
    background: #dcdcde;
    border-color: #c3c4c7;
    color: #000;
    outline: 0;
    box-shadow: none;
  }
}

@media only screen and (max-width: 480px) {
  .filter-ai-edit-media-header .filter-ai-button button {
    width: 40px;
    height: 40px;
  }
}

.edit-attachment-frame .media-frame-title.filter-ai-media-frame-title {
  right: 204px;
}

@media only screen and (max-width: 480px) {
  .edit-attachment-frame .media-frame-title.filter-ai-media-frame-title {
    right: 164px;
  }
}

.filter-ai-components-popover {
  box-sizing: border-box;
  will-change: transform;
  z-index: 1000000;
}

.filter-ai-components-popover *,
.filter-ai-components-popover :after,
.filter-ai-components-popover :before {
  box-sizing: inherit;
}

.filter-ai-components-popover.is-expanded {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000000 !important;
}

.filter-ai-components-popover .components-popover__content {
  background: #fff;
  border-radius: 4px;
  box-shadow:
    0 0 0 1px #ccc,
    0 2px 3px #0000000d,
    0 4px 5px #0000000a,
    0 12px 12px #00000008,
    0 16px 16px #00000005;
  box-sizing: border-box;
  width: min-content;
}

.filter-ai-components-popover.components-dropdown__content .components-popover__content {
  padding: 8px;
}

.filter-ai-components-popover.is-expanded .components-popover__content {
  box-shadow: 0 -1px 0 0 #ccc;
  height: calc(100% - 48px);
  overflow-y: visible;
  position: static;
  width: auto;
}

.filter-ai-components-popover .components-dropdown-menu__menu {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    Helvetica Neue,
    sans-serif;
  font-size: 13px;
  line-height: 1.4;
  width: 100%;
}

.filter-ai-components-popover .components-dropdown-menu__menu .components-dropdown-menu__menu-item,
.filter-ai-components-popover .components-dropdown-menu__menu .components-menu-item {
  cursor: pointer;
  outline: none;
  padding: 6px;
  white-space: nowrap;
  width: 100%;
}

.filter-ai-components-popover .components-dropdown-menu__menu .components-dropdown-menu__menu-item.has-separator,
.filter-ai-components-popover .components-dropdown-menu__menu .components-menu-item.has-separator {
  margin-top: 6px;
  overflow: visible;
  position: relative;
}

.filter-ai-components-popover .components-dropdown-menu__menu .components-dropdown-menu__menu-item.has-separator:before,
.filter-ai-components-popover .components-dropdown-menu__menu .components-menu-item.has-separator:before {
  background-color: #ddd;
  box-sizing: initial;
  content: '';
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  right: 0;
  top: -3px;
}

.filter-ai-components-popover .components-dropdown-menu__menu .components-dropdown-menu__menu-item.is-active .dashicon,
.filter-ai-components-popover .components-dropdown-menu__menu .components-dropdown-menu__menu-item.is-active svg,
.filter-ai-components-popover .components-dropdown-menu__menu .components-menu-item.is-active .dashicon,
.filter-ai-components-popover .components-dropdown-menu__menu .components-menu-item.is-active svg {
  background: #1e1e1e;
  border-radius: 1px;
  box-shadow: 0 0 0 1px #1e1e1e;
  color: #fff;
}

.filter-ai-components-popover .components-dropdown-menu__menu .components-dropdown-menu__menu-item.is-icon-only,
.filter-ai-components-popover .components-dropdown-menu__menu .components-menu-item.is-icon-only {
  width: auto;
}

.filter-ai-components-popover .components-dropdown-menu__menu .components-menu-item__button,
.filter-ai-components-popover .components-dropdown-menu__menu .components-menu-item__button.components-button {
  height: auto;
  min-height: 36px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: left;
}

.filter-ai-components-popover .components-button {
  align-items: center;
  -webkit-appearance: none;
  background: none;
  border: 0;
  border-radius: 2px;
  box-sizing: border-box;
  color: var(--wp-components-color-foreground, #1e1e1e);
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 13px;
  font-weight: 400;
  height: 36px;
  margin: 0;
  padding: 6px 12px;
  text-decoration: none;
  transition: box-shadow 0.1s linear;
}

@media (prefers-reduced-motion: reduce) {
  .filter-ai-components-popover .components-button {
    transition-delay: 0s;
    transition-duration: 0s;
  }
}

.filter-ai-components-popover .components-button.is-next-40px-default-size {
  height: 40px;
}

.filter-ai-components-popover .components-button:hover:not(:disabled, [aria-disabled='true']),
.filter-ai-components-popover .components-button[aria-expanded='true'] {
  color: var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
}

.filter-ai-components-popover .components-button:focus:not(:disabled) {
  box-shadow: 0 0 0 var(--wp-admin-border-width-focus)
    var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
  outline: 3px solid #0000;
}

.filter-ai-components-popover .components-button:disabled,
.filter-ai-components-popover .components-button[aria-disabled='true'] {
  color: #949494;
  cursor: default;
}

.media-modal > #filter-ai-media-modal-container {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 51px;
  border: 1px solid transparent;
  width: 50px;
  height: 50px;

  & .filter-ai-button,
  & .filter-ai-button > button {
    width: 100%;
    height: 100%;
  }
}
