.filter-ai-edit-media-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.filter-ai-edit-media-header button {
  position: static !important;
}

.filter-ai-button button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  padding: 1px !important;
  text-align: center;
  border: 0;
  transition:
    color 0.1s ease-in-out,
    background 0.1s ease-in-out;

  & img {
    max-width: 15px;
    width: auto;
    height: 100%;
  }
}

.filter-ai-edit-media-header .filter-ai-button button {
  width: 50px;
  height: 50px;
  border-left: 1px solid #dcdcde;

  &:hover,
  &:focus {
    background: #dcdcde;
    border-color: #c3c4c7;
    color: #000;
    outline: 0;
    box-shadow: none;
  }
}

@media only screen and (max-width: 480px) {
  .filter-ai-edit-media-header .filter-ai-button button {
    width: 40px;
    height: 40px;
  }
}

.edit-attachment-frame .media-frame-title.filter-ai-media-frame-title {
  right: 204px;
}

@media only screen and (max-width: 480px) {
  .edit-attachment-frame .media-frame-title.filter-ai-media-frame-title {
    right: 164px;
  }
}

.filter-ai-components-popover {
  box-sizing: border-box;
  will-change: transform;
  z-index: 1000000;
}

.media-modal > #filter-ai-media-modal-container {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 51px;
  border: 1px solid transparent;
  width: 50px;
  height: 50px;

  & .filter-ai-button,
  & .filter-ai-button > button {
    width: 100%;
    height: 100%;
  }
}

#filter-ai-yst-seo-title-button,
#filter-ai-yst-seo-meta-desc-button {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#minor-publishing #filter-ai-post-toolbar-container {
  padding: 10px 10px 0;
}
