.filter-ai-notice {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1000000;
}

.filter-ai-notice .components-animate__appear {
  animation: filter-ai-components-animate__appear-animation 0.1s cubic-bezier(0, 0, 0.2, 1) 0s;
  animation-fill-mode: forwards;
}

@media (prefers-reduced-motion: reduce) {
  .filter-ai-notice .components-animate__appear {
    animation-delay: 0s;
    animation-duration: 1ms;
  }
}

@keyframes filter-ai-components-animate__appear-animation {
  0% {
    transform: translateY(2em);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
