.filter-ai-seo-title-options-modal .filter-ai-seo-title-options-modal-info {
  background: #002f5f;
  color: #fff;
  display: flex;
  flex-direction: row;
  gap: 16px;
  border-radius: 8px;
  padding: 16px;
}

.filter-ai-seo-title-options-modal .filter-ai-seo-title-options-modal-info h3 {
  color: inherit;
  margin: 0 0 8px;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
}

.filter-ai-seo-title-options-modal .filter-ai-seo-title-options-modal-info p {
  margin: 0;
  font-size: 13px;
  line-height: 1.5;
}
