.wp-block-filter-ai-faqs {
  max-width: var(--wp--style--global--wide-size);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--wp--style--root--padding-left);
  padding-right: var(--wp--style--root--padding-right);
  padding-top: var(--wp--preset--spacing--50);
  padding-bottom: var(--wp--preset--spacing--50);

  .is-layout-constrained & {
    max-width: var(--wp--style--global--content-size);
  }

  .filter-ai-faqs-title {
    margin-top: 0;
  }

  .block-list-appender {
    position: static;
    text-align: center;

    & .block-editor-button-block-appender {
      width: 48px;
      background-color: white;
      display: inline-block;
      line-height: 1;
    }
  }
}
