name: Plugin deploy
on:
  workflow_dispatch:
jobs:
  asset_deploy:
    name: Deploy
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@main
    - name: WordPress.org plugin deploy
      uses: 10up/action-wordpress-plugin-asset-update@stable
      env:
        SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
        SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
